:root {
    --font-title-music: 'PT Sans Narrow';
    --font-autor-music: 'PT Sans Narrow';
    --color-text: rgb(249, 249, 249);
    --icon-not-hover: rgba(249, 249, 249, 0.741);
    --icon-hovered: rgb(249, 249, 249);
}

.player-container {
    display: flex;
    width: 100%;
    height: 89px;
    background-color: rgba(0, 0, 0);
    bottom: 0;
}

.box-player {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 89px;
    padding: 0px 20px 0px 20px;
}

.item-player {
    display: flex;
    width: 100px;
    height: 100%;
}


#left-item-player-bar {
    width: 14rem;
    display: flex;
    align-items: center;
}

#right-item-player-bar {
    display: flex;
    width: 14rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#center-item-player-bar {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    width: 600px;
}

#box-image-player {
    display: flex;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.336);
    
}
#box-image-player > img {
    border-radius: 6px;
}

.texts-content-player {
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    width: 160px;
    padding-top: 10px;
    padding-left: 10px;
    /* padding: 10px; */
}


.fav-div-icon {
    display: flex;
    width: 52px;
    height: 68px;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    color: var(--color-text);
}


.icon-button-pp {
    display: flex;
    width: 42px;
    height: 68px;
    align-items: center;
    justify-content: center;
    color: var(--icon-hovered);
}


.icon-button {
    display: flex;
    width: 42px;
    height: 68px;
    align-items: center;
    justify-content: center;
    color: var(--icon-not-hover);
}

#icon-btn-active {
    color: rgb(27, 196, 88);
}

#icon-btn-active:hover {
    color: rgb(72, 211, 123);
}

.icon-button:hover {
    color: var(--icon-hovered);
}

.i-normal {
    font-size: 20px;
}

.i-larger {
    font-size: 32px;
}

.i-larger:hover {
    font-size: 34px;
}

.i-tiny {
    font-size: 16px;
}




.title-music-player {
    font-size: 0.8em;
    font-family: var(--font-title-music), sans-serif;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: var(--color-text);
}

.autor-music-player {
    font-size: 0.8em;
    font-family: var(--font-autor-music), sans-serif;
    font-weight: 500;
    letter-spacing: 0.4px;
    color: var(--color-text);
}


.player-buttons-container {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
    
}

.shuffle-mode-style-active {
    color: rgb(27, 196, 88);
}


#slider-container-external {
    display: flex;
    flex-direction: row;
}

.span-time-slider{
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 0.83em;
    font-weight: 500;
    user-select: none;
}