
:root {
    --color-font-title-card: rgb(250, 250, 250);
    --color-subtitle-card: rgb(153, 153, 153);
    --background-color-hovered-card: rgb(40, 40, 40);
    --background-color-card: rgb(24, 24, 24);
}

#main-content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 634px;
    padding: 0px 35px 0px 35px;
    overflow-y: scroll;
    padding-bottom: 60px;
}

#main-content-container::-webkit-scrollbar {
    display: none;
}


.row-main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 420px;
    padding-top: 25px;

}

.h3-main-container-title-row {
    width: 100%;
    font-size: 1.65em;
    font-family: Helvetica, Arial, sans-serif;
    color: white;
    font-weight: bolder;
    letter-spacing: -0.7px;
}


.container-cards {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.card-main-container {
    display: flex;
    flex-direction: column;
    width: 225px;
    height: 329px;
    border-radius: 8px;
    padding: 15px;
    background-color: var(--background-color-card);
    transition: .3s linear;
    cursor: pointer;
    user-select: none;
    box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.303);
    
}

.card-main-container:hover {
    background-color: var(--background-color-hovered-card);
}

.img-card {
    border-radius: 4px;
}

.title-card-main-container {
    display: flex;
    width: 100%;
    height: 15px;
    justify-content: left;
    font-family: Helvetica, Arial, sans-serif;
    color: var(--color-font-title-card);
    margin-top: 22px;
    user-select: none;
    letter-spacing: -0.3px;
    font-size: 17px;
    font-weight: 600;
}


.subtitle-card-main-container {
    margin-top: 12px;
    color: var(--color-subtitle-card);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.4em;
}