* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}
:root {
    --title-page: 'roboto';
}


body {
    background-color: rgb(6, 6, 6);
}

.page-title {
    font: 32px var(--title-page);
    color: white;
    text-align: center;
    padding: 15px;

}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}


.form-box {
    display: flex;
    flex-direction: column;
    width: 500px;
    border: 1px solid white;
    padding: 20px;
}


.text-input {
    width: 300px;
    height: 30px;
    padding-left: 10px;
    border-radius: 4px;
    font-family: 'poppins', sans-serif;
    font-weight: 600;
    font-size: 11px;
    color: rgb(5, 92, 36);
}

.text-input:hover {
    border: 2px solid white;
}

.label {
    color: white;
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: 'roboto';

}

.dropdown {
    width: 300px;
    height: 20px;
    border-radius: 4px;
    font-family: 'poppins', sans-serif;
}


.button-choice {
    width: 90px;
    height: 25px;
    border-radius: 4px;
}


.inp-music-container {
    display: flex;
    margin-top: 5px;
    flex-direction: column;
}

.input-file-mode {
    color: white;
}


.input-music-container {
    display: flex;
    flex-direction: row;
}

.button-download {
    margin: 5px 0px 0px 10px;
    width: 100px;
    height: 25px;
    border-radius: 5px;
}

.button-download:hover {
    background-color: rgb(122, 181, 143);
    border: 1px solid rgb(87, 220, 87);
    transition: .4s ease;
    padding: 3px;
}

.disabled {
    pointer-events: none;
    background-color: rgb(153, 151, 151);
}