

.top-bar-container {
    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: space-between;
    top: 0;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 63px;
    padding: 6px;
}

.left-side-bar {
    width: 51px;
    height: 51px;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 510px;
    height: 51px;

}

.icon-profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 51px;
    height: 51px;
    padding: 5px;
    border-radius: 50%;
    background-color: rgb(18, 18, 18);
    cursor: pointer;
}

.icon-profile-container:hover {
    background-color: rgb(23, 23, 23);
}

.home-btn-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 51px;
    width: 57.93px;
    font-size: 20px;
    border-radius: 50%;
    background-color: rgb(18, 18, 18);
    color: rgb(191, 188, 188);
    margin-right: 10px;
}

.home-btn-box:hover {
    color: white;
    background-color: rgb(20, 20, 20);
    cursor: pointer;
}

.search-box {
    display: flex;
    width: 100%;
    
}

.icon-search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 51px;
    width: 64.05px;
    font-size: 20px;
    border-radius: 50% 0% 0% 50%;
    background-color: rgb(18, 18, 18);
    color: white;
}

.input-search {
    display: flex;
    height: 51px;
    width: 100%;
    background-color: rgb(18, 18, 18);
}

.icon-remove-text-box {
    display: flex;
    width: 51px;
    height: 51px;
    background-color: rgb(18, 18, 18);
    border-radius: 0% 50% 50% 0%;
}

.img-profile {
    border-radius: 50%;
    width: 35px;
    height: 35px;
}