:root {
    --color-timebar: rgb(94, 94, 94);
    --thumb-width: 10px;
    --thumb-height: 10px;
}


 


#range-volume{
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: block;
    width: 80%;
    height: 4px;
    border-radius: 8px;
    outline: none;
    background: linear-gradient(to right, rgb(249,249,249) 50%, rgb(94, 94, 94) 50%);
    caret-color: transparent;
}


#range-volume::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    height: 8px;
}
#range-volume::-moz-track{
    -moz-appearance: none;
    height: 8px;
}
#range-volume::-ms-track{
    appearance: none;
    height: 8px;
}

/* color thumb */
#range-volume:hover::-webkit-slider-thumb{
    display: block;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.753);
    -webkit-appearance: none;
    height: var(--thumb-height);
    width: var(--thumb-width);
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

#range-volume::-moz-range-thumb{
    -webkit-appearance: none;
    background-color: #21fa42;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

#range-volume::-webkit-slider-thumb {
    display: none;
}

#range-volume::-moz-range-thumb {
    display: none;
}

#range-volume::-ms-thumb {
    display: none;
} 

#range-volume::-ms-thumb{
    appearance: none;
    height: 20px;
    width: 20px;
    background-color: #a4a5a6;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -6px;
    border: none;
}

#range-volume:active::-webkit-slider-thumb{
    background-color: #ffffff;
    border: 1px solid #ffffff;
}

#range-volume::-webkit-slider-thumb{
    background-color: #ffffff;
    border: 1px solid #ffffff;
}

