


.volume-container {
    display: flex;
    width: 120px;
    height: 4px;
    border-radius: 8px;
    background-color: var(--color-timebar);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.286);

}


.nivel-volume {
    display: flex;
    border-radius: 4px;
    background-color: var(--current-time-bar-color);
}

